<div class="container">
  <div class="row m-2">
    <p>フォロワー一覧</p>
  </div>
  <div class="row">
    <div class="col">
      <!--フォロワー一覧表示-->
      <% @customers.each do |customer| %>
        <%= link_to customer_path(customer) do %>
          <%= image_tag customer.get_profile_image(100,100) %><%= customer.name %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>