<div class="container">
  <div class="row m-2">
    <p>フォロー一覧</p>
  </div>
  <div class="row">
    <div class="col m-2">
      <!--フォロー一覧表示-->
      <% @customers.each do |customer| %>
        <%= link_to customer_path(customer) do %>
          <%= image_tag customer.get_profile_image(50,50),class: "rounded-circle" %><%= customer.name %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>