<div class="container">
    <div class="row">
        <div class="col m-5">
            <h3>このサイトの目的</h3>
            <p>SummaMeは読書のアウトプットを目的としたwebサイトです。<br>
            新規登録ではなくゲストログインからでもお使いいただけます。<br>
            新規投稿から本の要約を投稿することができます。読書後に各章のエッセンスと<br>
            日常に活かすことのできる行動を書き出してみましょう！<br>
            書籍検索から楽天ブックスサイトに遷移することもできます。<br>
            読書アウトプットを習慣化するためにぜひご利用ください。</p>
        </div>
    </div>
</div>