<div class="container">
    <div class="row">
        <div class="col">
            <h5>こちらは「SummaMe」管理者トップページです</h5>
            <p>ヘッダーの「投稿一覧」と「会員一覧」からそれぞれ編集が可能です<br>
            </p>
        </div>
    </div>
</div>