 <!--いいね機能-->
 
<!--ログインユーザーがいいねしてた時-->
<% if article.favorited_by?(current_customer) %>
  <p>
    <%= link_to article_favorites_path(article), method: :delete, remote: true do %>
      ♥<%= article.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <!--ログインユーザーがいいねしていない時-->
  <p>
    <%= link_to article_favorites_path(article), method: :post, remote: true do %>
      ♡<%= article.favorites.count %> いいね
    <% end %>
  </p>
<% end %>