@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

table {
    text-align: center;
    border-collapse: collapse;
}

table th, table td {
  border: solid 1px black;
}

table th {
    color: white;
    background-color: #696969;
}