<!--書籍検索機能（楽天API）-->
<div class="container">
    <div class="row">
        <div class="col m-5">
            <div class="search-box">
                <%= form_with url: books_search_path,method: :get, local: true do |f| %>
                    <!--text_fieldに本の題名を入力して検索-->
                    <div class="form-group">
                    <!--入力した内容はparams[:keyword]に格納-->
                    <%= f.text_field :keyword, required: true, class: "form-control", placeholder: "本のタイトルを入力" %>
                    <%= f.submit '検索', class: "form-control btn btn-success" %>
                    </div>
                <% end %>
                <!--@booksに検索結果が存在すると表示-->
                <% if @books.present? %>
                  <%= render 'public/books/book' %>
                <% end %>
            </div>
        </div>
    </div>
</div>